.book-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 32px;
}

.book-card {
    padding: 16px; 
    border: 1px solid grey; 
    border-radius: 20px;
}

.remove-button {
    padding: 16px;
    border: 1px solid grey; 
    border-radius: 20px;
}

#open-dialog-button {
    margin-top: 32px;
}